/******************************/
/*WHOLE WEBSITE STYLING*/
/******************************/
.nfl-old {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 6px;
    width: 100%;
    background-color: goldenrod;
}

.nfl-white {
    background-color: white !important;
}
.nfl-dark-blue {
    background-color: #1b2f42 !important;
}

.nfl-blue {
  background-color: #1565c0 !important;  
}

.nfl-dark-blue-text {
  color: #1b2f42 !important;
}

.nfl-blue-text {
  color: #1565c0 !important;
}

.nfl-red {
  background-color: #be2a2a !important;
}

.nfl-red-text {
  color: #be2a2a !important;
}

.nfl-grey {
  background-color: #616161 !important;
}

.nfl-gold {
    background-color: #ddbe73 !important;
}

.nfl-logo {
 max-height: 20px;
 max-width: 25px;
}
@media screen and (min-width:768px) {
	.nfl-logo {
         max-height: 25px;
         max-width: 40px;
	}
}

.icon-class {
    font-size: 18px !important;
    vertical-align:middle;
}
.small-icon-class {
    font-size: 14px !important;
    vertical-align:middle;
}
.animation {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;  
  -ms-transition: all 0.5s ease;  
  transition: all 0.5s ease;
}

.shadowed {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.header-padding {
    padding-top: 56px;
}

.noPadding {
	padding: 0 !important;
}

.noMargin {
	margin: 0 !important;
}

.noLink {
    cursor: default !important;
}

.background-color {
    background-color: #f2f2f2;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	background-color: rgba(0,0,0,0) !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0);
	height: 75px;
    line-height: 75px;
}

nav .button-collapse, nav .button-collapse i {
	height: 75px;
	line-height: 75px;
}

.navbar-fixed {
	height: 75px !important;
}
.page-header {
    text-align: center;
    font-size: 36px;
}
.table-header {
    border-top: 2px solid #be2a2a;
}

.bets-header {
    border-top: 2px solid #1565c0;
}

.extras-header {
    border-top: 2px solid #ef6c00;
}

.rules-header {
    border-top: 2px solid #00bcd4;
}

.records-header {
    border-top: 2px solid #009688;
}

.ranking-selector-header {
    height: 56px;
}

table.striped > tbody > tr:nth-child(odd) {
	background-color: #eceff1;
}
.img-valign {
    vertical-align: middle;
}
 
.input-field {
    margin-bottom: 0;
    margin-top: 0;
    height: 50px;
}
/* label focus color */
 .input-field input:focus + label {
   color: white !important;
 }
 
 /* label underline focus color */
 .input-field input:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important;
 }
 
.input-field label {
	color: #777;
	margin-left: 10px;
}
.input-validation {
    border-bottom: 1px solid #4CAF50 !important;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #4CAF50 ;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #4CAF50 ;
}

.table-text {
    font-size: 12px;
}

@media screen and (max-width:768px) {
    .page-header, #ranking {
        margin-top: 56px;
    }

    .progress {
        top: 150px !important;
    }
}


@media screen and (min-width:768px) {
	.table-text {
		font-size: 13px;
    }    
}

@media screen and (min-width:1280px) {
	.table-text {
		font-size: 14px;
	}
}

.no-opacity {
    opacity: 0;
}
.pointer {
    cursor: pointer;
}
.pointer:hover {
    text-decoration: underline;
}
/******************************/
/*END WHOLE WEBSITE STYLING*/
/******************************/

/******************************/
/*MAIN CONTENT STYLING*/
/******************************/

#allContent {
/*    margin-left: 250px;*/
}

#mainContent {
	background-color: white;
    position: absolute;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (min-width:768px) {
    #mainContent {
        max-height: 100vh;
	}
}

#content {
    text-align: center;
}

/******************************/
/*END MAIN CONTENT STYLING*/
/******************************/

/******************************/
/*SIDEBAR STYLING*/
/******************************/

#sidebar-container {
    height: 100%;
}
.sidebar-closed {
    width: 20px !important;
}
#buttons-container {
    position: relative;
    margin-left: 20px;
}

.containers-closed {
    margin-left: -120px !important;
}

#button {
    margin-top: 15px;
    width: 100%;
    position: relative;
    z-index: 5;
}

#button a {
    width: 160px;
    padding: 0 10px;
    border: 1px solid #1b2f42;
}

#button a:hover {
    background-color: #cfd8dc !important;
}
.active-button {
    background-color: #b0bec5 !important;
    font-weight: bold;
}
#login-section {
    position: relative;
    margin-top: 10px;
    opacity: 1;
/*    left: 100px;*/
}

.login-section-closed {
    left: -200px !important;
    opacity: 0;
}

#sidebar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 200px;
}

.floating-button {
    top: 50px;
    left: 10px;
    position: absolute; 
    z-index: 999;
}

#dropdownLogin {
    background-color: white;
    color: black;
    width: 160px;
    opacity: 0;
    margin-top: -54px;
    z-index: 1;
    position: absolute;
    visibility: hidden;
}

#dropdownLogin a {
    color: black;
}

.opened-dropdown {
    opacity: 1 !important;
    z-index: 999 !important;
    visibility: visible !important;
}
.dropdown-item {
    line-height: 53px;
    cursor: pointer;
}
.dropdown-item:hover {
    background-color: lightgray;
}

/******************************/
/*END SIDEBAR STYLING*/
/******************************/

/******************************/
/*MOBILE HEADER STYLING*/
/******************************/
#mobileHeader {
    height: 56px;
    line-height: 56px;
    position: fixed;
    top: 0;
    z-index: 99;
}

/******************************/
/*END MOBILE HEADER STYLING*/
/******************************/

/******************************/
/*RANKING STYLING*/
/******************************/
#rightContent {
    position: absolute;
    right: 0;
    z-index: 1;
}

#ranking {
    background-color: white;
}
#tabsRanking {
	position: inherit !important;
}

#tabsRanking .indicator {
	display: none;
}

#tabsRanking a {
	color: #eceff1;
	font-size: 16px;
}

#tabsRanking a:hover {
    color: white;
}

#tabsRanking a.activeRound {
    color: #eceff1 !important;
    font-weight: bold;

}
.ranking-content {
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (min-width:768px) {
    .ranking-content {
        max-height: calc(100vh - 88px);
    }
}

.active-user {
	webkit-box-shadow: inset 4px 0px 0px 0px #004080;
	-moz-box-shadow: inset 4px 0px 0px 0px #004080;
	box-shadow: inset 4px 0px 0px 0px #004080 ;
	font-weight: bold;	
}

.online-user {
    webkit-box-shadow: inset 4px 0px 0px 0px #52891d;
    -moz-box-shadow: inset 4px 0px 0px 0px #52891d;
    box-shadow: inset 4px 0px 0px 0px #52891d;
}

.ranking-header {
    padding: 5px;
    height: 40px;
    webkit-box-shadow: inset -1px 0px 0px 0px darkgrey;
    -moz-box-shadow: inset -1px 0px 0px 0px darkgrey;
    box-shadow: inset 0px -1px 0px 0px darkgrey;
}

.ranking-row {
    line-height: 25px;
}

.ranking-search {
    height: 50px;
    margin-bottom: 0;
    webkit-box-shadow: inset -1px 0px 0px 0px darkgrey;
    -moz-box-shadow: inset -1px 0px 0px 0px darkgrey;
    box-shadow: inset 0px -1px 0px 0px darkgrey;
}

/******************************/
/*END RANKING STYLING*/
/******************************/

/******************************/
/*TABLE STYLING*/
/******************************/
#tabsTables, #tabsBets, #tabsRecords {
	position: inherit !important;
}

#tabsTables .indicator, #tabsBets .indicator, #tabsRecords .indicator {
	display: none;
}

#tabsTables .btn[disabled], #tabsBets .btn[disabled], #tabsRecords .btn[disabled] {
    background-color: transparent !important;
}

#tabsTables a, #tabsBets a, #tabsRecords a {
    font-size: 16px;
	font-weight: bold;
}

#tabsTables a:hover {
    color: #f44336;
}

#tabsBets a:hover {
    color: #03a9f4;
}

#tabsRecords a:hover {
    color: #4db6ac;
}

#tabsTables a.activeRound, #tabsBets a.activeRound, #tabsRecords a.activeRound {
    background-color: #eceff1;
    -webkit-transition: color 0.5s, border 0.5; /* Safari */
    transition: color 0.5s, border 0.5s;
}

#tabsTables a {
	color: #be2a2a;
}

#tabsBets a {
	color: #1565c0;
}

#tabsRecords a {
    color: #009688;
}

.tabs {
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
}
.tabs .active {
	color: #FFF !important;
}

.tabs .indicator {
	background-color: #bdb289 !important;
}

#match-table .match-head {
    padding: 5px;
}

#match-table .match-body {
    min-height: 50px;
    webkit-box-shadow: inset 1px 0px 0px 0px darkgrey;
    -moz-box-shadow: inset 1px 0px 0px 0px darkgrey;
    box-shadow: inset 0px 1px 0px 0px darkgrey;
}

.table-icon {
    font-size: 10px;
}

.table-column {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 49px !important;
}

@media only screen and (max-width: 600px) {
    .mobile-possession {
        webkit-box-shadow: inset 0px -2px 0px 0px #795548;
        -moz-box-shadow: inset 0px -2px 0px 0px #795548;
        box-shadow: inset 0px -2px 0px 0px #795548;
    }
}

.rotate {
    -webkit-transform: rotate(45deg);
}

.progress {
    position: absolute;
    background-color: transparent;
    top: 94px;
}

.progress .determinate {
    background-color: #eceff1;
}
/******************************/
/*END TABLE STYLING*/
/******************************/

/******************************/
/*BET STYLING*/
/******************************/
.bet-span {
    padding: 0.5px;
    font-size: 10px;
    line-height: 10px;
}
.no-bets {
    webkit-box-shadow: inset 2px 0px 0px 0px red, inset 0px 1px 0px 0px darkgrey !important;
    -moz-box-shadow: inset 2px 0px 0px 0px red, inset 0px 1px 0px 0px darkgrey !important;
    box-shadow: inset 2px 0px 0px 0px red, inset 0px 1px 0px 0px darkgrey !important;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    display:block;
    width: 25px;
    padding: 0 !important;
}
/******************************/
/*END BET STYLING*/
/******************************/


/******************************/
/*EXTRA BETS STYLING*/
/******************************/

.extras-button {
    width: 50px;
}
.extras-bets {
    height: 54px;
    font-size: 15px;
    margin-left: 10px;
}
.extra-bets-content {
    display: flex !important;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    min-height: 54px !important;
    padding-left: 10px;
}

#tabsExtras a {
    font-size: 16px;
    font-weight: bold;
    color: #ef6c00;
}

#tabsRules a:focus {
    background-color: #eceff1 !important;
}

#tabsExtras a:hover {
    color: #ff9800;
}

#tabsExtras .active-round {
    background-color: #eceff1;
    -webkit-transition: color 0.5s, border 0.5;
    transition: color 0.5s, border 0.5s;
}

/******************************/
/*END EXTRA BETS STYLING*/
/******************************/

/******************************/
/*RULES STYLING*/
/******************************/

#tabsRules {
	position: inherit !important;
}

#tabsRules .indicator {
	display: none;
}

#tabsRules a {
	color: #00bcd4 !important;
	font-size: 16px;
	font-weight: bold;
}

#tabsRules a:focus {
    background-color: #eceff1 !important;
}

#tabsRules a.activeRules {
    background-color: #eceff1;
    -webkit-transition: color 0.5s, border 0.5;
    transition: color 0.5s, border 0.5s;
}

/******************************/
/*END RULES STYLING*/
/******************************/

/******************************/
/*RECORDS STYLING*/
/******************************/

#tabsRecords {
	position: inherit !important;
}

#tabsRecords .indicator {
	display: none;
}

#tabsRecords a {
	color: #009688 !important;
	font-size: 16px;
	font-weight: bold;
}
#tabsRecords a:focus {
    background-color: #eceff1 !important;
}
#tabsRecords a.activeRecords {
    background-color: #eceff1;
    -webkit-transition: color 0.5s, border 0.5;
    transition: color 0.5s, border 0.5s;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #9c27b0 !important;
    background-color: #9c27b0 !important;
}
.switch label .lever:after {
    background-color: #004080;
}
.switch label .lever {
    background-color: rgba(0,64,128,0.38);
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #be2a2a;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: rgba(190,42,42,0.38);
}

label {
    font-size: 16px;
    color: black;
}

/******************************/
/*END RECORDS STYLING*/
/******************************/


/******************************/
/*MODALS STYLING*/
/******************************/

#modalPreferences {
    min-height: 200px;
}

#modalSignup {
    overflow-y: hidden;
}
#modalSignup-cadastro {
    border-right: 1px solid black;
}

.modal-input {
    border: 1px solid lightgray !important;
    width: 90% !important;
    padding-left: 10px !important;
}
.modal-button {
    width: 150px;
}

.error-input-field {
	webkit-box-shadow: inset 4px 0px 0px 0px #F44336 !important;
	-moz-box-shadow: inset 4px 0px 0px 0px #F44336 !important;
	box-shadow: inset 4px 0px 0px 0px #F44336 !important;
}
.preferences-tab {
    background-color: #1b2f42;
}
.preferences-tab a:hover {
    background-color: #004c97 !important;
}

.active-tab a {
    font-weight: bold;
    background-color: #004c97 !important
}

.preferences-icon {
    width: 60px;
    margin: 5px;
    float: left;
    text-align: center;
}
.preferences-icon:hover {
    background-color: #004c97 !important;
    color: white !important;
}

.preferences-icon i {
    font-size: 12px !important;
}

.colors-icon {
    width: 60px;
    margin: 5px;
    float: left;
    text-align: center;
}
/******************************/
/*END MODALS STYLING*/
/******************************/

.activeUserBgExtra {
	font-weight: bold;	
}


#header {
	height: 75px;
	border-bottom: 3px solid #bdb289;
	background-image: url(../img/menu_bg.jpg); 
}

#blackBorder {
	height: 6px;
	border-top:3px solid black;
	background-color: #0598e3;
}

.logoImage {
	margin-top: 5px;
	height: 65px;
}

.logoImageMobile {
	margin-top: 10px;
	height: 55px;
}

.fixedHeader {
	position: fixed;
}

.signupTitle {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: #0598e3;
}

.redFormField {
	background-color: rgba(171,6,23,0.2) !important;
}

.extraBetsText {
	text-align: left;
	font-size: 10px;
	padding: 10px 5px !important;
}

.betHit {
	font-weight: bold;
}

@media screen and (min-width:768px) {
	.extraBetsText {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.extraBetsText {
		font-size: 14px;
	}
}

.matchEvents {
	font-size: 10px;
}

@media screen and (min-width:768px) {
	.matchEvents {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.matchEvents {
		font-size: 14px;
	}
}

.matchEventsIcon {
	height:11px;
	vertical-align: middle;
}

@media screen and (min-width:768px) {
	.matchEventsIcon {
		height: 14px;
		vertical-align: middle;
	}
}

@media screen and (min-width:1280px) {
	.matchEventsIcon {
		height: 18px;
		vertical-align: middle;
	}
}

.tableFont {
	font-size: 10px;
}

@media screen and (min-width:768px) {
	.tableFont {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.tableFont {
		font-size: 14px;
	}
}

.tableBetsFont {
	font-size: 8px;
}

@media screen and (min-width:768px) {
	.tableBetsFont {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.tableBetsFont {
		font-size: 16px;
	}
}


#tabsStats {
	position: inherit !important;
}

#tabsStats .indicator {
	display: none;
}

#tabsStats a {
	color: #DDD !important;
	font-size: 16px;
	font-weight: bold;
}

#tabsStats a.activeStats {
	color: #FFF !important;
	border-bottom: 2px solid black;
    -webkit-transition: color 0.5s, border 0.5; /* Safari */
    transition: color 0.5s, border 0.5s;
}

#loginDropdown, #accountDropdown {
    display: none;
	float: right;
	width: 200px;
    margin-bottom: 0px;
	box-shadow: inset 0 3px 0 0 #0598e3, inset 3px 0 0 0 #0598e3, inset -3px 0 0 0 #0598e3, 0 3px 0 #0598e3, 0 5px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.5), 0 16px 31px 0px rgba(0, 0, 0, 0.2);
	background-color: rgba(255,255,255,0.9);
	cursor: pointer;
}

#accountDropdown table.highlight tbody tr:hover {
    background-color: #0598e3 !important;
}

.lowPadding {
	padding: 5px 5px !important;
}

.weekday {
	font-weight: bold;
	font-size: 18px;
	color: black;
}

.numberInput {
	height: 20px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

.emptyBet {
	border-bottom: 1px solid #ab041d !important;
	box-shadow: 0 1px 0 0 #ab041d !important;
}

.flags {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
	cursor: pointer;
}

.flags:hover {
	z-index: 255;
 -webkit-transition: all 200ms ease-in;
 -webkit-transform: scale(1.2);
 -ms-transition: all 200ms ease-in;
 -ms-transform: scale(1.2);   
 -moz-transition: all 200ms ease-in;
 -moz-transform: scale(1.2);
 transition: all 200ms ease-in;
 transform: scale(1.2);
}

.flagAlign {
	width: 20%;
	margin: 2.5%;
	float: left;
	min-height: 120px;
}

@media screen and (min-width:400px) {
	.flagAlign {
		width: 20%;
		margin: 2.5%;
		min-height: 140px;
	}
}

@media screen and (min-width:768px) {
	.flagAlign {
		width: 20%;
		margin: 2.5%;
		min-height: 141px;
	}
}
@media screen and (min-width:1280px) {
	.flagAlign {
		width: 10.5%;
		margin: 1%;
		min-height: 126px;
	}
}

.flagSub {
	font-size: 10px;
}

@media screen and (min-width:768px) {
	.flagSub {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.flagSub {
		font-size: 12px;
	}
}

.easy-autocomplete{
  width:96% !important
}

.easy-autocomplete input{
  width: 96%;
}

/*.postContainer {
	padding: 20px 0 20px 0;
}*/

.postTitle {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.postDate, .postAuthor {
	font-size: 12px;
}

div::-webkit-scrollbar {
    width: 4px;
}

div::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

div::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5); 
}

div::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.8);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip-mobile {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    width: 120px;

    background-color: rgba(30, 30, 30, 0.9);
    color: #fff;
    text-align: center;
    padding: 8px;
	font-weight: normal;
    position: absolute;
    z-index: 999;
    font-size: 15px;
    line-height: 1.5;
}
.tooltip .tooltipTop {
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    border-radius: 3px;
}

.tooltip .tooltipTop::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Tooltip text */
.tooltip .tooltipTopLeft {
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
    bottom: 100%;    
    border-radius: 3px;
}

.tooltip .tooltipTopLeft::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    right: 12%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Tooltip text */
.tooltip .tooltipTopRight {
    margin-left: -15px; /* Use half of the width (120/2 = 60), to center the tooltip */
    bottom: 100%;
    border-radius: 3px;
}

.tooltip .tooltipTopRight::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 13%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip .tooltipRight {
    top: 17%;
    left: 120%;
    border-radius: 3px;
}

.tooltip .tooltipRight::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;  
}

/* Tooltip text */
.tooltip .tooltipBottomLeft {
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
    top: 100%;    
    border-radius: 3px;
}

.tooltip .tooltipBottomLeft::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    right: 18%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.matchTime {
	font-size: 11px !important;
}

.playersLine {
	font-size: 10px;
	line-height: 30px;
}

@media screen and (min-width:768px) {
	.playersLine {
		font-size: 11px;
	}
}

@media screen and (min-width:1280px) {
	.playersLine {
		font-size: 12px;
	}
}

.playersLineTitle {
	font-size: 10px;
}

@media screen and (min-width:768px) {
	.playersLineTitle {
		font-size: 11px;
	}
}
@media screen and (min-width:1280px) {
	.playersLineTitle {
		font-size: 12px;
	}
}

.scorersLine {
	font-size: 11px;
	/*line-height: 30px;*/
}

@media screen and (min-width:768px) {
	.scorersLine {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.scorersLine {
		font-size: 14px;
	}
}

.scorersLineTitle {
	font-size: 11px;
	line-height: 40px;
}

@media screen and (min-width:768px) {
	.scorersLineTitle {
		font-size: 12px;
	}
}

@media screen and (min-width:1280px) {
	.scorersLineTitle {
		font-size: 14x	px;
	}
}

.scorersMainTitle {
	font-size: 12px;
	line-height: 40px;
}

@media screen and (min-width:768px) {
	.scorersMainTitle {
		font-size: 14px;
	}
}

@media screen and (min-width:1280px) {
	.scorersMainTitle {
		font-size: 16x	px;
	}
}

.crest {
	border-right: 2px solid grey;
	/*height: 200px;*/
	vertical-align: middle;
    max-height: 200px;
	max-width: 100%;
	height: auto;
	width: auto;
}

.crestSize {
	padding: 15px;
    max-height: 200px;
	max-width: 100%;
	height: auto;
	width: auto;
}

.teamName {
	font-weight: bold;
	font-size: 18px;
}

.pastMatch { 
	color: grey;
}

.currentMatch {
	color: red;
}

.redCircle {
	height: 7px;
	animation: circlePulse 1s infinite;
}

@keyframes circlePulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.2;}
}

